* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Bruno Ace SC", cursive;
}

.keyboard {
  background-color: black;
  padding: 5px;
  width: 1200px;
  height: 300px;
  display: flex;
  gap: 5px;
}

.textarea {
  tab-size: 4;
}

.key {
  background-color: rgb(39, 39, 39);
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(147 45 45 / 40%);
  box-shadow: 3px 3px 4px rgb(143 4 4);
  transition: 0.5s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.key:hover {
  color: red;
}

.key:active {
  color: red;
  transform: translate3d(2px, 2px, 0);
}

.key.active {
  transform: translate3d(2px, 2px, 0);
  color: red;
}

.key.remove {
  animation: keys_animation 1s linear;
}

@keyframes keys_animation {
  0% {
    transform: translate3d(2px, 2px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
